In [1]:
import geopandas as gpd
from geoutils import grid

# Generate a grid object

In [2]:
g = grid.grid(4136738.313, 4141838.762,2716144.483,2721437.148,cell_size=100,crs=3035)

In [3]:
g

# Generate centeral points from grid object

In [4]:
g.generate_point().head()

           X          Y                           coords
0  4136788.0  2716194.0  POINT (4136788.000 2716194.000)
1  4136888.0  2716194.0  POINT (4136888.000 2716194.000)
2  4136988.0  2716194.0  POINT (4136988.000 2716194.000)
3  4137088.0  2716194.0  POINT (4137088.000 2716194.000)
4  4137188.0  2716194.0  POINT (4137188.000 2716194.000)

In [5]:
g.generate_point().to_file("center_point.geojson", driver='GeoJSON')

# Generate around points from grid object

In [6]:
g.generate_point(center=False).to_file("around_points.geojson", driver='GeoJSON')

# Generate grid from grid object

In [7]:
g.generate_grid().head()

                                                geom
0  POLYGON ((4136738.000 2716144.000, 4136838.000...
1  POLYGON ((4136838.000 2716144.000, 4136938.000...
2  POLYGON ((4136938.000 2716144.000, 4137038.000...
3  POLYGON ((4137038.000 2716144.000, 4137138.000...
4  POLYGON ((4137138.000 2716144.000, 4137238.000...

In [8]:
g.generate_grid().to_file("grid.geojson", driver='GeoJSON')

# Generate cells inside polygons

In [9]:
pol = gpd.read_file('polygons.geojson')

In [10]:
g.cells_within_polygon(pol).to_file("grid_within.geojson", driver='GeoJSON')

# Generate BID

In [11]:
grid_gdf = g.generate_grid()

In [12]:
grid_gdf.head()

                                                geom
0  POLYGON ((4136738.000 2716144.000, 4136838.000...
1  POLYGON ((4136838.000 2716144.000, 4136938.000...
2  POLYGON ((4136938.000 2716144.000, 4137038.000...
3  POLYGON ((4137038.000 2716144.000, 4137138.000...
4  POLYGON ((4137138.000 2716144.000, 4137238.000...

In [14]:
grid.generate_BID(grid_gdf,coords='geom',cell=100).head()

,geom,X,Y,BID
0,"POLYGON ((4136738.000 2716144.000, 4136838.000...",4136788.0,2716194.0,2716141367
1,"POLYGON ((4136838.000 2716144.000, 4136938.000...",4136888.0,2716194.0,2716141368
2,"POLYGON ((4136938.000 2716144.000, 4137038.000...",4136988.0,2716194.0,2716141369
3,"POLYGON ((4137038.000 2716144.000, 4137138.000...",4137088.0,2716194.0,2716141370
4,"POLYGON ((4137138.000 2716144.000, 4137238.000...",4137188.0,2716194.0,2716141371

In [15]:
grid.generate_BID(grid_gdf,coords='geom',cell=100,circularity=True).head()

,geom,X,Y,BID,circularity_percent
0,"POLYGON ((4136738.000 2716144.000, 4136838.000...",4136788.0,2716194.0,2716141367,78.539816
1,"POLYGON ((4136838.000 2716144.000, 4136938.000...",4136888.0,2716194.0,2716141368,78.539816
2,"POLYGON ((4136938.000 2716144.000, 4137038.000...",4136988.0,2716194.0,2716141369,78.539816
3,"POLYGON ((4137038.000 2716144.000, 4137138.000...",4137088.0,2716194.0,2716141370,78.539816
4,"POLYGON ((4137138.000 2716144.000, 4137238.000...",4137188.0,2716194.0,2716141371,78.539816